# Test Results

|Test| Percentage| activeBacklogs| Expected output| Actual output | Status |
|---|---|---|---|---|---|
| Test1| 60| 0| Eligible| Eligible |✅ |
| Test2| 59| 0| Not Eligible| Not Eligible | ✅ |
| Test3| 60| 1| Not Eligible| Not Eligible | ✅ |
| Test4| 59| 1| Not Eligible| Not Eligible | ✅ |